<md-form-field 
    #formField 
    class="text-field" 
    [ngClass]="{'dragable-control': !isEnabled}"
    [draggable]="!isEnabled"
    (dragstart)="draggingStarted($event)"
    (dragend)="draggingEnded($event)"
    [style.width]="width ? width+'%' : ''" 
    [style.width]="height ? height+'%' : ''" 
    [style.position]="getPositionString()"
    [style.cursor]="draging ? 'grabing' : 'grab' "> 
    
    <input
        [style.cursor]="draging ? 'grabing' : 'grab' "
        [disabled]="!isEnabled"
        [type]="type"
        mdInput 
        [placeholder]="draging + ''" />
</md-form-field>