.designer-area,
.editor-area {
    box-sizing: border-box;
    height: 100%;
}    
.designer-area {
    padding: 20px;
}

.editor-area {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    width: 450px;
    position: relative;
}
.draging-target.editor-area {
    outline: 2px dashed black;
    border: none;
}
