<div class="home-component display-flex flex-direction-column">
    <div class="header"></div>
    <div class="content">
        <md-sidenav-container class="content-wrapper">
            <md-sidenav 
                #sidenav 
                class="controls-panel" 
                [mode]="isMobileView ? 'over' : 'side'" 
                [opened]="!isMobileView"
                [disableClose]="!isMobileView">
                {{isMobileView}}
            </md-sidenav>
            <div class="builder-container">
                <button type="button" md-button (click)="sidenav.open()">
                    Open sidenav
                </button>
            </div>
        </md-sidenav-container>
    </div>
    <div class="footer"></div>

</div>