.home-component {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}
.home-component .header,
.home-component .footer {
    height: 50px;
    background-color: #2196F3;
}
.home-component .content {
    height: calc(100% - 100px);
}
.content-wrapper {
    width: 100%;
}
.controls-panel {
    width: 70%;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.content-wrapper,
.work-area-container,
.builder-container,
.controls-panel,
.result-form-container {
    height: 100%;
    box-sizing: border-box;
}
.work-area-container {
    padding: 20px;
}
.result-form-container {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

@media (min-width: 600px) {
    .controls-panel {
        width: 33.333333%;
    }
}
@media (min-width: 1000px) {
    .controls-panel {
        width: 24.244444%;
    }
}