<div class="home-component display-flex flex-direction-column">
    <div class="header"></div>
    <div class="content">
        <md-sidenav-container class="content-wrapper">
            <md-sidenav 
                #sidenav 
                class="controls-panel" 
                [mode]="isMobileView ? 'over' : 'side'" 
                [opened]="!isMobileView"
                [disableClose]="!isMobileView">
                
            </md-sidenav>
            <div class="builder-container">
                <div class="work-area-container">
                    <div class="result-form-container" 
                        [style.width]="formWidth">
                        <form>
                            <div #workArea></div>
                        </form>
                    </div>    
                </div>
            </div>
        </md-sidenav-container>
    </div>
    <div class="footer"></div>

</div>